

.container form{
    background-color: #fff;
    max-width: 600px;
    max-height: 700px;
    margin: auto;
    padding: 25px 70px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.container .item {
    max-height: 50px;
    border-radius: 6px;
    margin-bottom: 5px;
    padding: 5px 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.container .form-select{
    color: black;
    color: gray;
}

#tanggal{
    color: black;
    color: gray;
}

.container .row{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(33, 150, 83, 1);
    background-size: cover;
    background-position: center;
}

h1{
    text-align: center;
    padding: 30px;
    color: #fff;
    font-family: montserrat;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
}

h2{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;  
    font-family: montserrat;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
}
