body{
    background-color: #219653;
}

.registration-form{
	padding: 15px 0;
}

h1{
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    font-weight: 500;
}

.registration-form .form-head{
    text-align: center;
    margin-bottom: 20px;
    font-family: montserrat;
    font-size: 20px;
    font-weight: bold;
}

.registration-form form{
    background-color: #fff;
    max-width: 600px;
    max-height: 700px;
    margin: auto;
    padding: 25px 70px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.registration-form .item {
    max-height: 50px;
    border-radius: 6px;
    margin-bottom: 5px;
    padding: 5px 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.registration-form .form-select{
    color: black;
    color: gray;
}

#ttl{
    color: black;
    color: gray;
}

.registration-form .row{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }
}