body {
  margin: 0px;
  padding: 0px;
}

.nav {
  width: 240px;
  height: 100vh;
  position: fixed;
  background-color: rgba(33, 150, 83, 1);
  padding: 20px;
}

.nav-link {
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.nav :hover {
  color: white;
}

.isi {
  padding: 20px 250px;
  margin-left: 30px;
}

p {
  font-size: 24px;
  font-weight: bold;
}

.isi1 p {
  padding: 10px;
  font-size: 20px;
  font-weight: unset;
}

.card {
  border-style: none;
}
.card img {
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.card1 img {
  width: 40%;
  height: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

h4 {
  text-align: center;
}

h5 {
  text-align: center;
}

@media (max-width: 576px) {
  .registration-form form {
    padding: 50px 20px;
  }
}
