body {
  margin: 0px;
  padding: 0px;
}

.nav {
  width: 240px;
  height: 100vh;
  position: fixed;
  background-color: rgba(33, 150, 83, 1);
  padding: 20px;
  transition: 0.4s;
}

.nav-link {
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.nav :hover {
  color: white;
}

.isi {
  padding: 20px 250px;
  margin-left: 30px;
}

p {
  font-size: 15px;
  font-weight: bold;
}

.support-text {
  margin-top: 10%;
  margin-left: 20%;
}

.icon a {
  width: 15%;
  height: 10%;
  margin-left: 30%;
}

img {
  width: 20%;
  margin-left: 40%;
  margin-top: 3%;
}